<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG features">
    <test name="TestNG tests">
        <classes>
            <class name="com.TestngFeatures.TestNGAnnotationExecutionSeq">
            </class>
            <class name="com.TestngFeatures.TestNGFeatures">
            </class>
        </classes>
    </test>
</suite>